@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'kanit';/*fuente importada desde google fonts*/
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth; /*permite deslizar al clickear en el menu*/
}
/*Diseño del menu*/
.container-encabezado{
    background: #668aa1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*z-index: */
}
.container-encabezado header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px ;
}
.container-encabezado header .logotipo a{
font-family: 'Dancing Script';/*fuente importada desde google fonts*/
font-size: 42px;
color: rgb(199, 145, 125);
}
.container-encabezado header ul{
    display: flex;
    list-style: none; /* saca los puntos de viñetas*/
}
.container-encabezado header nav ul li a{
    text-align: none;
    color: antiquewhite;
    margin: 0 15px;/*me permitio espaciar entre los
    diferentes links de mi barra de navegacion (dolor de ovarios)*/
    padding: 3px;
    transition: .5s;/*tarde 5 segundos en reaccionar*/
    text-decoration: none;
}
.container-encabezado header nav ul li a:hover{/*lo uso para pasar en modo seleccion (color) sobre los botones*/
    color: aquamarine;
}
.nav-responsive{
    background-color: aquamarine;
    color: antiquewhite;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/*configurando el inicio*/
.inicio {
    background:linear-gradient(to top, rgba(10, 11, 25, 0.8), rgba(30,35,38,1)),
    url(img/Paisaje.jpg);
    background-size:cover;
    height: 100vh;/*viewport 100%-altura completa segun pantalla*/
    color: #f5f7f39a;
    display: flex;
    align-items: center;
}
.inicio .banner-info {/* borde y radio de mi imagen - dolor de ovarios*/
    padding: 20px;
    background-color: #668aa1;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .banner-info img{/* borde y radio de mi imagen - dolor de ovarios*/
    margin-top: 40px;
    border: 8px solid  rgb(199, 145, 125);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .banner-info h1{
    margin-top: 30px;
    font-size: 40px;
    font-family:'Dancing Script';
    color: rgb(192, 173, 149);
}
.inicio .banner-info h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .banner-info .social a{
    color:rgb(199, 145, 125);
    display: inline-block;
    text-decoration: none;
    border: 2px solid #dbc8c8;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px; /*centra los iconos en los circulos por fin!*/
    margin: 20px 10px ;
    font-size: 20px;
    transition: .2s;
}
.Sobremi{
    background-color: #668aa1;
    color: #fff;
    padding: 50px 20px;
}
.Sobremi .contenido-Sobremi{
    max-width: 1000px;
    margin: auto;
}
.Sobremi h2{/* ver bien que quiero hacer con este color*/
    font-size: 45px;
    font-family: 'Dancing Script';
    color: #dbc8c8;
    text-align: center;
    padding: 20px 0;
}
.Sobremi .Contenido-Sobremi p{
    font: 18px;/*tamaño texto general*/
    line-height: 22px;/*distancia entre lineas de texto*/
    margin-bottom: 20px;/*margen inferior al texto*/
}
.Sobremi .Contenido-Sobremi p span{
    color: rgb(66, 11, 92);
    font-weight: bold;/*negrita*/
}
.curriculum {
    background-color: #668aa1;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-curriculum{
    max-width: 1000px;
    margin: auto;
}
.curriculum h2{
    font-size: 45px;
    font-family: 'Dancing Script';
    color: #dbc8c8;
    text-align: center;
    padding: 20px 0;
}
.curriculum .fila{
    display: flex;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 25px;
    font-family: 'Kanit';
    margin-bottom: 20px;
}
.curriculum .fila .izq{
    border-right: 2px solid #fff;
}
.curriculum .fila .der{
    border-left: 2px solid #fff;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color:#4b728a;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 18px;
    margin-bottom: 10px;
}
.curriculum .fila .item span {
    color: #dbc8c8;
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #dbc8c8;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #dbc8c8;
    margin-left: 20px;
}
footer{
    background-color: #668aa1;
    color: #dbc8c8;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .social{
    margin-bottom: 20px;
}
footer .social a{
    color:rgb(199, 145, 125);
    display: inline-block;
    text-decoration: none;
    border: 2px solid #dbc8c8;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px; /*centra los iconos en los circulos por fin!*/
    margin: 20px 10px ;
    font-size: 20px;
    transition: .2s;
}/*copie el mismo formato que arriba de social*/
footer .banner-info{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #dbc8c8;
    color: #668aa1;
    position: absolute;/*google dice como se centra el boton*/
    left: 50%;
    transform: translateX(-50%); 
    top: -25px;
    border-radius: 50%;
    line-height: 50px; /*no funciona ver luego*/
} 

@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #668aa1;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .Sobremi .fila{
        display: block;
    }
    .Sobremi .fila .col{
        width: fit-content;
    }
    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width:90%;
    }
    .curriculum .fila .der{
        margin-left: 20px;
    }
}
